# This file lists all of the Python packages that Meterage
# relies on.
#
# Please see https://pip.readthedocs.org/en/1.1/requirements.html
# for information on how to auto-install everything you need to get
# Meterage running, using pip.

behave==1.2.5
enum34==1.0.4
Flask==0.10.1
Flask-Bcrypt==0.6.2
Flask-Gravatar==0.4.2
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
parse==1.6.6
parse-type==0.3.4
pycparser==2.12
python-bcrypt==0.3.1
six==1.9.0
SQLAlchemy==1.0.4
Werkzeug==0.10.4
