{% extends "layout.html" %}
{% block body %}
<body>

<h2>Manage Details</h2>

{% if error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{ error }}
</div>
{% endif %}

    <div class="row">
        <div class="col-md-3"><strong>Username:</strong></div>
        <div class="col-md-9">{{ session.username }}</div>
    </div>
    <div class="row">
        <div class="col-md-3"><strong>Gravatar Email:</strong></div>
        <div class="col-md-9">{{ session.gravataremail }}</div>
    </div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">edit details</button>

<div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form action="{{ url_for('manage_details', username=session.username) }}" method=post>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Details</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Name:</label>
                        <input class="form-control" type="text" name="username" value="{{ session.username }}"
                               id="username">
                    </div>
                    <div class="form-group">
                        <label for="gemail">Gravatar Email:</label>
                        <input class="form-control" type="email" name="gravataremail" value="{{ session.gravataremail }}"
                               id="gemail">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Save" name="save">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}