{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<ul class=entries>
    <li><h2><i><img src="{{ entry.author.gravataremail | gravatar }}"></i><a href=" {{ url_for('show_entries') }}">{{
        entry.title }}</a><span
            class=user> by {{ entry.author.username }} </span></h2> {{ entry.text | newlines }}
    </li>
    <h3> Started at: {{ entry.start_time }} </span> </h3>

    <h3> End at: {{ entry.end_time }} </span></h3>
</ul>
{% if not task_ended %}
<form action="{{ url_for('add_end_time', entry_id=entry_id) }}" method=post class=add_end_time>
    Press to end task:
    <input type=submit value=EndTask!>
</form>
{% endif %}

<form action="{{ url_for('add_roles', entry_id=entry_id) }}" method=post class=add_roles>

    <dt>Roles:
    <dd><textarea name=user_role rows=1 cols=15></textarea>

    <dd><input type=submit value=Add>

</form>
<form action="{{ url_for('delete_roles', entry_id=entry_id) }}" method=post class=delete_roles>
    <dd><input type=submit value=Reset>

</form>

<div style="height:50; width:560px; background:white; word-wrap: break-word; word-break: normal;">
    <ul class=roles>
        {% for role in roles %}
        <li>{{ role.user_role }}</li>
        {% else %}
        <li><em>No Role Defined</em></li>
        {% endfor %}
    </ul>
</div>

<form action="{{ url_for('add_comments', entry_id=entry_id) }}" method=post class=add_comments>
    <dl>
        <dt>Comments:
        <dd><textarea name=comment_input rows=5 cols=40></textarea>

        <dd><input type=submit value=Add>
    </dl>
</form>

{% endif %}

<br>
<div style="height:50; width:560px; background:white; word-wrap: break-word; word-break: normal;">

    <ul class=comments>
        {% for comment in comments %}
        <li>{{ comment.text }} <span
                class=user> by <img src="{{ comment.author.gravataremail | gravatar(size=10) }}"></i> {{ comment.author.username }} at {{ comment.posttime | timestamp }} </span>
        </li>
        {% else %}
        <li><em>No Comment Yet</em></li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
