{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<ul class="chats" style="padding-top:10px">

    <img src="{{ entry.author.gravataremail | gravatar }}" class="img-rounded" alt="Gravatar"><h2><a
            href="{{ url_for('show_entries') }}">{{
        entry.title }}</a> <span> by {{ entry.author.username }} </span></h2>

    <div class="form-group">
        <label for="starttime">start time:</label>
        <strong id="starttime">{{ entry.start_time }}</strong>
    </div>
    <div class="form-group">
        <label for="endtime">end time:</label>
        <strong id="endtime">{{ entry.end_time }}</strong>
    </div>
    <div class="form-group">
        <label for="taskdes">Description:</label>
        <strong id="taskdes">{{ entry.task_des }}</strong>
    </div>
    <div class="form-group">
        <label for="entrytext">Text:</label>
        <div class="panel-body" id="entrytext">{{ entry.text | newlines }}</div>
    </div>

</ul>

{% if not entry.end_time %}
<form action="{{ url_for('add_end_time', entry_id=entry.id) }}" method=post class=add_end_time>
    Press to end task:
    <input type=submit value="End Task">
</form>
{% endif %}

<form action="{{ url_for('add_roles', entry_id=entry.id) }}" method=post class=add_roles>

    <dt>Roles:
    <dd><textarea name=user_role rows=1 cols=15></textarea>

    <dd><input type=submit value=Add>

</form>
<form action="{{ url_for('delete_roles', entry_id=entry.id) }}" method=post class=delete_roles>
    <dd><input type=submit value=Reset>

</form>

<div style="height:50; width:560px; background:white; word-wrap: break-word; word-break: normal;">
    <ul class=roles>
        {% for role in entry.user_role %}
        <li>{{ role }}</li>
        {% else %}
        <li><em>No Role Defined</em></li>
        {% endfor %}
    </ul>
</div>

<form action="{{ url_for('add_comments', entry_id=entry.id) }}" method=post class=add_comments>
    <dl>
        <dt>Comments:
        <dd><textarea name=comment_input rows=5 cols=40></textarea>

        <dd><input type=submit value=Add>
    </dl>
</form>

{% endif %}

<br>
<div style="height:50; width:560px; background:white; word-wrap: break-word; word-break: normal;">

    <ul class=comments>
        <li class="hidden">{{ entry.comments.reverse() }}</li>
        {% for comment in entry.comments %}
        <li>{{ comment.text | newlines }} <span
                class=user> by <img src="{{ comment.author.gravataremail | gravatar(size=15) }}"></i> {{ comment.author.username }} at {{ comment.posttime | timestamp }} </span>
        </li>
        {% else %}
        <li><em>No Comment Yet</em></li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
