{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}
<br>



<textarea rows="7" cols="50" style="BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid;" class = entry>
Title：{{entry.title}}
User: {{entry.username}}
Text: {{entry.text}} 
StartTime: {{entry.starttime}}
EndTime: {{entry.endtime}} 
</textarea>

<button type="button" onclick="call function in flaskr.py">End!</button>

<br>
<ul class=comments>
{% for comment in comments %}
<li>{{ comment.content|safe}} <span class=user> by {{ comment.username }}
{% else %}
<li>NO COMMENT HERE YET</li>
{% endfor %}
</ul>
{% endblock %}

<br>
<form action="{{ url_for('add_comment') }}" method="post" class="add-comment"><dl><dt>Comments:
        </dt><dd><textarea name="comments" rows="3" cols="40"></textarea>
		
		</dd><dd><input value="Add" type="submit">

  </form>
{% endif %}

</body>
</html>