{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}
<br>
<ul class=entries>
{% for entry in entries %}
<li><h2><a href=" {{ url_for('show_comments') }}">{{ entry.title }}</a> <span class=user> by {{ entry.username }} </span></h2> {{ entry.text|safe }} </li></h3> {{ entry.start_time }} </span></h3> {{ entry.end_time }}
{% endfor %}
</ul>
<button type=button onclick=EndTask!</button>
<br>

<form action="{{ url_for('add_comments') }}" method=post class=add-comments>
        <dl>
        <dt>Comments:
        <dd><textarea name=comments rows=3 cols=40></textarea>

        <dd><input value=Add type=submit>
        </dl>
  </form>
{% endif %}
<br>
<ul class=comments>
{% for comment in comments %}
<li>{{ comment.comment_input|safe}} <span
{% else %}
<li>NO COMMENT HERE YET</li>
{% endfor %}
</ul>
{% endblock %}
