{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method="POST" class="add-entry">
    <div class="form-group">
        <label for="title">Title:</label>
        <input name="title" type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="text">Text:</label>
        <textarea name="text" rows="5" class="form-control" id="text"></textarea>
    </div>
    <div class="form-group">
        <label for="start_time">start time:</label>
        <input type="time" name="start_time" id="start_time">
    </div>
    <div class="form-group">
        <label for="task_des">Description:</label>
        <textarea name="task_des" rows="5" class="form-control" id="task_des"></textarea>
    </div>
    <input type=submit class="btn purple" value="Share">
</form>
<hr>
{% endif %}


<h3 class="page-title">Meterage</h3>
<ul class="chats" style="padding-top:10px">
    {% for entry in entries %}

    <img src="{{ entry.avimg }}" class="img-rounded" alt="Gravatar"><h2><a
            href="{{ url_for('show_comments', entry_id=entry.id) }}">{{
        entry.title }}</a> <span> by {{ entry.username }} </span></h2>

    <div class="form-group">
        <label for="starttime">start time:</label>
        <strong id="starttime">{{ entry.start_time }}</strong>
    </div>
    <div class="form-group">
        <label for="endtime">end time:</label>
        <strong id="endtime">{{ entry.end_time }}</strong>
    </div>
    <div class="form-group">
        <label for="taskdes">Description:</label>
        <strong id="taskdes">{{ entry.task_des }}</strong>
    </div>
    <div class="form-group">
        <label for="entrytext">Text:</label>
        <div class="panel-body" id="entrytext">{{ entry.text | newlines }}</div>
    </div>

    {% else %}
    <p class="bg-primary">No entries here yet</p></>
    {% endfor %}
</ul>
{% endblock %}
