{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}

<ul class=entries>
    {% for entry in entries1 %}
    <h3><a href=" {{ url_for('show_entries') }}">{{ entry.title }}</a><span
            class=user> by {{ entry.username }} </span></h3> {{ entry.text|safe }}

    </h3> <dt> Started at: {{ entry.start_time }}<dt>
    </span></h3><dt> Ended at: {{ entry.end_time }}  <dt>
    {% endfor%}
</ul>




{% if not task_ended %}
<br><form action="{{ url_for('add_end_time', entry_id=entry_id) }}" method=post class=add_end_time>
    </dl>
    <dl>Finished your task?
    <dl>So, press the EndTask! button:
    <br><input class="btn purple" type=submit value=EndTask!>


    </dl>
</form>
{% endif %}

<form action="{{ url_for('add_roles', entry_id=entry_id) }}" method=post class=add_roles>

        <dt>Roles:
        <dd><textarea name=user_role rows=1 cols=15></textarea>
</form>

<form action="{{ url_for('delete_roles', entry_id=entry_id) }}" method=post class=delete_roles>
  <input class="btn blue" type=submit value=Add>  <input class="btn blue" type=submit value=Reset>
</form>

<div class="roles">
    <ul class=roles>
        {% for role in roles %}
        <li>{{ role.user_role }}</li>
        {% else %}
        <!--<br><em>No Role Defined</em>-->
        {% endfor %}
    </ul>
</div>
<br>
<form action="{{ url_for('add_comments', entry_id=entry_id) }}" method=post class=add_comments>
    <dl>
        <dt>Comments:
        <dd><textarea name=comment_input rows=5 cols=40></textarea>

        <dd><input class="btn blue" type=submit value=Add>
    </dl>
</form>
{% endif %}

<div class="comments">

    <ul class=comments>
        {% for comment in comments %}
         <br>{{ comment.comment_input }}
         <br><dt>Commented at: {{ comment.comment_time }}  </dt>
         <dt><span class=user> by {{ comment.username }} </span></dt>
        {% else %}
        <!--<li><em>No Comment Yet</em></li>-->
        {% endfor %}

    </ul>
</div>
{% endblock %}
